/* Coolors Exported Palette - coolors.co/272727-fed766-485665-696773-eff1f3 */

/* HSL */
$color1: hsla(0%, 0%, 15%, 1);
$color2: hsla(45%, 99%, 70%, 1);
$color3: hsla(211%, 17%, 34%, 1);
$color4: hsla(250%, 6%, 43%, 1);
$color5: hsla(210%, 14%, 95%, 1);

/* RGB */
$color1: rgba(39, 39, 39, 1);
$color2: rgba(254, 215, 102, 1);
$color3: rgba(72, 86, 101, 1);
$color4: rgba(105, 103, 115, 1);
$color5: rgba(239, 241, 243, 1);

/* HEX */
$color1: #272727;
$color2: #fed766;
$color3: #485665;
$color4: #696773;
$color5: #eff1f3;