/* Coolors Exported Palette - coolors.co/d19a46-ba5a31-0c0c0c-69dc9e-ffffff */

/* HSL */
$color1: hsla(36%, 60%, 55%, 1);
$color2: hsla(18%, 58%, 46%, 1);
$color3: hsla(0%, 0%, 5%, 1);
$color4: hsla(148%, 62%, 64%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(209, 154, 70, 1);
$color2: rgba(186, 90, 49, 1);
$color3: rgba(12, 12, 12, 1);
$color4: rgba(105, 220, 158, 1);
$color5: rgba(255, 255, 255, 1);

/* HEX */
$color1: #d19a46;
$color2: #ba5a31;
$color3: #0c0c0c;
$color4: #69dc9e;
$color5: #ffffff;